*{
    margin: 0;padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto";
}
.container {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 370px;
    background-color: #f7f3ea;
    border-radius: 20px;
}
.section1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd990;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.section1 img{
    height: 200px;
}
.section2 h2{
/* margin-left: 20px;
margin-top: 20px; */
}
.section2 .span1{
    /* padding: 5px; */
}
.main1{
    display: flex;
    flex-direction: column;
}
.main1 .headingdiv{
    display: flex;
    justify-content: start;
    margin-left: 30px;
    margin-top: 15px;
    
}
.main1 .span1{
    display: flex;
    gap: 10px;
    margin-left: 35px;
    margin-top: 5px;
    font-size: 15px;
}
.main2{
    display: flex;
    flex-direction: column;
}
.main2 .para1{
    margin-left: 30px;
    margin-top: 10px;
}
