*{
    margin: 0;padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto";
    padding: 0 15px;
}
.container {
    display: flex;
    flex-direction: column;
    /* height: 450px;
    width: 350px; */
    background-color: #f7f3ea;
    border-radius: 30px;
    overflow: hidden;
}
.section1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom right,#ffdb9d,#fcbe4f);
    /* border-top-right-radius: 30px;
    border-top-left-radius: 30px; */
}
.section1 img{
    height: 210px;
}
.section2{
    padding: 20px;
}
.main1{
    display: flex;
    flex-direction: column;
}
.main1 .headingdiv{
    /* position: relative;
    left: 30px; */
    /* margin-top: 15px; */
    font-weight: 200;
    
}
.span1{
    display: flex;
    justify-content: flex-start; 
    gap: 10px; 
    padding-left: 15px;
    margin-top: 5px;
    font-size: 15px;
    color: #777;
}
.main2{
    display: flex;
    flex-direction: column; 
    color: #777;
    justify-content: flex-start;
    margin-top: 10px;
    
}
.main2 .para1{
    margin-top: 8px; 
    
}
.main2 .span2{
    font-size: 13px;
    display: flex; 
    /* justify-content: space-between; */
    text-align: center;
    gap: 8px;  
    margin-top: 8px;
}
.labels{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    
}
.main2 .span3{
    border: 1px solid gray;
    border-radius: 10px;
    /* margin-top: 4px; */
    /* width: 90px;
    height: 15px; */
    cursor: pointer;
    padding: 2px 8px;

    
}

.main3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
 
.para2 {
  display: flex;
  flex-direction: column;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #f4a300;
}

.delivery {
  font-size: 12px;
  color: #777;
}

.btn button {
  background-color: #ffc546;
  /* height: 40px;
  width: 180px; */
  padding: 8px 40px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
} 
/* 
@media (max-width:480px){
    .container .headingdiv{
        font-size: 10px;
    }
    .container{
        width: 80%;
        height: auto;
        margin-left: 20px;
    }
    .span1{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .section1 img{
        height: 140px;
    }
    .main2 .span2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }
    .para1{
        font-size: 13px;
    }
    .para2 .price{
        font-size: 15px;
    }
    .para2 .delivery{
        font-size: 15px;
    }
    .btn button{
        width: 80px;
        font-size: 11px;
        border: none;
    }
}


@media (min-width:481px) and (max-width:768px){
    .container .headingdiv{
        font-size: 16px;
    }
    .container{
        width: 90%;
        height: auto;
        margin-left: 20px;
    }
}

@media (min-width:769px) and (max-width:1024px){
    
} */