#wrapper{
    background: #eee;
    list-style: none;
    margin: 50px;
    padding: 20px;
}
#wrapper li{
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
}
#wrapper li label{
    flex: 1;
}
#wrapper li input{
    flex: 3;
}
@media  screen and (min-width:1200px) {
    #wrapper li input{
        flex: 8;
    }
}
@media  screen and (min-width:992px) {
    #wrapper li input{
        flex: 6;
    }
}
@media  screen and (min-width:768px) {
    #wrapper li input{
        flex: 4;
    }
}
@media  screen and (min-width:500px) {
    #wrapper li input{
        flex: 3;
    }
}
@media  screen and (min-width:300px) and (max-width:499px) {
    #wrapper li{
        flex-direction: column;
    }
    #wrapper li input{
        flex: 3;
    }
}