.div1 ul{
    /* list-style-type: circle; */
    list-style-type: square;
    list-style-position: inside;
    
}
.div2 ol{
    /* list-style-type: lower-alpha; */
    /* list-style-type: lower-greek; */
    list-style-type: upper-alpha;
}