*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Calibri;
}
main{
    display: flex;
}
.section1 .image1{
    display: flex;
    width: 40vw;
    height: 70vh;
    margin-top: 20px;
    margin-left: 25px;
}
.section1 .div1{
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
}
.section1 img{
    width: 8vw;
    height: 10vh;
    margin-top: 30px;
    margin-left: 20px;
    
}
.section2 h2{
    margin-left: 30px;
    margin-top: 20px;
}
.section2 .firstdiv{
    display: flex;
}
.rs-heading{
    margin-left: 30px;
    padding-top: 2px;
    color: red;
}
.section2 h3{
    text-decoration-line: line-through;
    margin-left: 15px;
    margin-top: 12px;
    font-size: 18px;
}
 .starFonts{
    color: orange;
    font-size: 13px;
    margin-left: 30px;
 }
 #id1{
    color: black;
    font-size: 13px;
 }
.section2 p{
    margin-left: 30px;
}
.section2 hr{
    margin-top: 40px;
}
 .btn1{
    height: 50px;
    width: 100px;
    background-color: whitesmoke;
    border: 0.5px solid black;
    border-radius: 3px;
    margin-left: 30px;
    margin-top: 30px;
}
 .btn2{
    height: 50px;
    width: 150px;
    background-color: grey;
    border: 0.5px solid black;
    border-radius: 3px;
    color: white;
    margin-left: 5px;

}
.secondImage{
    height: 30px;
    width: 30px;
    margin-bottom: -10px;
    
    
}
 .thirdImage{
    height: 30px;
    width: 30px;
    margin-bottom: -10px;
}
.div2 i{
    margin-left: 30px;
}