*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
}
.section1 img{
    display: flex;
    width: 40vw;
    height: 90vh;
    margin-top: 20px;
    margin-left: 25px;
}
.section2 h2{
    margin-left: 30px;
    margin-top: 20px;
}
.section2 .firstdiv{
    display: flex;
}
.rs-heading{
    margin-left: 30px;
    padding-top: 2px;
    color: red;
}
.section2 h3{
    text-decoration-line: line-through;
    margin-left: 15px;
    margin-top: 12px;
    font-size: 18px;
}
 .firstImage{
    height: 100px;
    width: 100px;
    margin-left: 30px;
    margin-top: -30px;
    font-size: 0.1px;
}
.section2 p{
    margin-left: 30px;
}
.section2 hr{
    margin-top: 40px;
}
 .btn1{
    height: 50px;
    width: 100px;
    background-color: whitesmoke;
    border: 0.5px solid black;
    border-radius: 3px;
    margin-left: 30px;
    margin-top: 30px;
}
 .btn2{
    height: 50px;
    width: 150px;
    background-color: grey;
    border: 0.5px solid black;
    border-radius: 3px;
    color: white;

}
.secondImage{
    height: 30px;
    width: 30px;
    margin-top: 10px;
    
}
 .thirdImage{
    height: 30px;
    width: 30px;
}