* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f4f4;
  padding: 30px;
}
.container{
    max-width: 700px;
    background-color: #fff;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
}
h1 {
  margin-bottom: 25px;
  font-weight: 500;
  color: #444;
}
.row{
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}
.feild{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 25px;
    
}
.feildfull{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #555;
}
input,
select,
textarea {
  padding: 12px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 3px;
}
input::placeholder,
textarea::placeholder {
  color: #aaa;
}
button{
  background: #17a2b8;
  color: #fff;
  border: none;
  padding: 12px 35px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 15px;
  display: block;
  margin: 50px auto;

}


@media (max-width:480px) {
    body{
        padding: 10px;
    }
    .row{
        flex-direction: column;
        gap: 10px;
    }
    button{
        width: 100%;
    }
}

@media (min-width:481px) and (max-width:768px){
    .container{
        width: 90%;
    }
    .row{
        flex-direction: column;
    }
    button {
    margin-left: 0;
    width: 50%;
    margin: auto;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 800px;
  }

  .row {
    flex-direction: row;
  }

  button {
    margin-left: 250px;
  }
}

@media (min-width:1025px){
    .container{
        max-width: 900px;
    }

    .row{
        flex-direction: row;
    }

    button{
        margin: 30px auto ;
    }
}
