#section1{
    border: 2px solid black;
    width: 400px;
    box-sizing: border-box;
    padding: 30px;
}
#section2{
    border: 2px solid blueviolet;
    width: 400px;
    box-sizing: border-box;
    padding: 50px;
}
main{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}