p::first-line{
    color: red;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p::first-letter{
    font-size: 30px;
    color: blue;
}

::selection{
    background-color: tan;
    color: greenyellow;
}
h2::before{
    content: "content before ";
    color: red;
}
h2::after{
    content:"content after";
    color: blue;
}
p::before{
    content: "Hello";
    color: teal;
}
p::after{
    content: "Hello";
    color: tan;
}