*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
}
header div{
    margin-top: 20px;
    font-size: 15px;
    margin-left: 180px;
}
header div a{
    padding: 10px;
    color: black;
    text-decoration: none;
    font-family: "Roboto";
}
main{
    display: flex;
}

header div a:hover{
    border: 2px solid goldenrod;
    border-width: 10px;
    background-color: goldenrod;
    color: white;
}

.section1{
    width: 100%;  
    height: 100vh;
    background-image: url(background\ landing\ page.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
}
.section1 h2{
    color: goldenrod;
    margin-top: 100px;
    margin-left: 300px;
    font-size: 30px;
}
.section1 p{
    margin-right: 90px; 
    color: white;
    text-align: right;
    font-size: 20px;
}
.section1 span{
    color: white;
}
.spanSection span{
    display: block;
    border-radius: 50%;
    background-color: goldenrod;
    height: 10px;
    width: 10px;
    border: 2px solid white;
    margin-left: 20px;
    /* margin-top: 80px; */
    margin: 12px;
}
.spanSection .span1{
    background-color: white;
    border: 2px solid black;
    height: 13px;
    width: 13px;   
}

.section2{
    width: 100%;
    height: 100vh;
    background-color:aliceblue;
}
.btn{
    margin-top: 150px;
}
.section2 h2{
    margin-left: 400px;
    margin-top: -8px;
    font-family: "Roboto";
}
.section2 h1{
    margin-left: 490px;
    color: goldenrod;
    font-family: "Roboto";
}
.section2 p{
    margin-right: 40px;
    text-align: right;
    margin-top: 20px;
    font-family: "Roboto";
}
.section2 .button1{
    border: none;
    height: 40px;
    width: 100px;
    background-color: goldenrod;
    border-radius: 3px;
    margin-left: 390px;
    margin-top: 40px;
}
.section2 .button2{
    border: 1.5px solid goldenrod;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    color: goldenrod;
}
.section2 .icons{
    margin-left: 520px;
    margin-top: 50px;
    font-size: 20px;
    
}