*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #DADADA;
    font-family: "Roboto";
}
.container{
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    height: 500px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 0 10px;
    background-color: #3C3C3C;
}
.container .header{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
    color: white;
}
.container .header .header1{
    position: relative;
    left: 10px;
    font-size: 14px;
}
.container .main{
    width: 269px;
    height: 325px;
    background-color: white;
    position: relative;
    margin-left: -11px;
    top: 52px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.container .main{
    display: flex;
    flex-direction: column;
}
.container .main .main-header{
    display: flex;
    justify-content: center;
    font-size: 12px;
    gap: 15px;
    position: relative;
    left: 10px;
    top: 30px;
    color: gray;
}
.container .main .main-header .underline{
    text-decoration: underline;
}
.container .main .product1{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #DADADA;
    position: relative;
    margin: 5px 0;
}
.container .main .product1 img{
    height: 100px;
    position: relative;
    top: -18px;
}
.container .main .sections{
    display: flex;
    position: relative;
    top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 25px 0 25px;
}
.container .main .product1 i{
    position: relative;
    left: 75px;
    font-size: 13px;
    color: red;
}
.container .footer footer{
    color: white;
    position: relative;
    top: 70px;
}
.container .footer{
    display: flex;
    justify-content: space-around;
}
.container .footer footer{
    display: flex;
    gap: 30px;
}
.container .shopping-cart{
    background-color: gray;
    border-radius: 20px;
    position: relative;
     top: 50px;
     left: 20px;
     width: 210px;
     display: flex;
     justify-content: center;
     gap: 10px;
     padding: 10px 0;
     color: white;
}
.container .shopping-cart p{
    font-size: 14px;
}
.container .shopping-cart i{
    font-size: 15px;
}