*{
    padding: 0;
    margin: 0;
}
.main{
    height: 100vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
}
.main .container{
    height: 420px;
    width: 260px;
    border: 1px solid black;
    border-radius: 30px;
    background: url(perfume.jpg);
    background-size: cover;
}
.main .container .form a{
    text-decoration: none;
}
.main .container .heading{
    /* margin-left: 100px; */
    color: white;
    position: relative;
    top: 50px;
    left: 80px;
}
.main .container .form .input input{
    border: none;
    outline: none;
    background: transparent;
    max-width: 200px;
}
.main .container .form .input{
    width: 100%;
    max-width: 190px;
    border: 1px solid black;
    background-color: white;
    margin-left: 30px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    top: 120px;
    
}
.main .container .form .forgot-button{
    margin-left: 70px;
    margin-top: 8px;
    position: relative;
    top: 120px;
    font-size: 14px;
}
.main .container .form .forgot-button a{
    color: goldenrod;
}
.main .container .form .btn button{
    border: none;
    margin-left: 70px;
    margin-top: 10px;
    padding: 8px 50px;
    border-radius: 40px;
    background-color: goldenrod;
    color: white;
    position: relative;
    top: 120px;cursor: pointer;
}

.main .container .form .register-button{
    margin-left: 90px;
    margin-top: 138px;
}
.main .container .form .register-button a{
    color: white;
    font-size: 14px;
}
.main .container .form .slide-up .button {
    position: relative;
    left: 120px;
    top: 30px;
    border: none;
    background: transparent;
}
.main .container .form .slide-up .button i{
    color: white;
    font-size: 25px;
    cursor: pointer;
}