h1{
    /* text-decoration: underline; */
    /* text-decoration: overline; */
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-style:dotted;
}
div{
    border: 2px solid black;
    width: 200px;
    height: 150px;
    padding: 20px;
    text-decoration: underline teal wavy;
}