div{
    width: 200px;
    height: 200px;
    position: absolute;
    border: 1px solid black;
    font-size: 20px;
}
.div1{
    background-color: green;
    top: 100px;
    left: 50px;
    z-index: 3;
}
.div2{
    background-color: olive;
    top: 150px;
    left: 100px;
    z-index: 2;
}
.div3{
    background-color: greenyellow;
    top: 200px;
    left: 150px;
    z-index: 4;
    
}