*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.container{
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 480px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 0 10px;
    margin: auto;
    background-image: url(perfume.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    
}
.heading{
    position: relative;
    top: -70px;
    color: white;
}
.heading h2{
    position: relative;
    left: 25px;
}
.form-section form{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.form-section form p{
    color: goldenrod;
    position: relative;
    top: 63px;
    left: 30px;
    cursor: pointer;
    font-size: 14px;
}
.form-section form i{
    position: relative;
    top: 84px;
    right: 24px;
    color: white;
    cursor: pointer;
    
}
input[type="text"],input[type="password"]{
    border-radius: 10px;
    border: none;
    padding: 6px 12px;
    position: relative;
    top: 60px;
}
.btn button{
    position: relative;
    top: 70px;
    background-color: goldenrod;
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    cursor: pointer;
}
.btn p{
    position: relative;
    top: 80px;
    left: 30px;
    color: white;
    cursor: pointer;
    font-size: 13px;
}
.icons i{
    color: white;
    font-size: 30px;
    position: relative;
    top: 110px;
    cursor: pointer;
}
