*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    width: 100%;
    position: fixed;
}
.section1{
    width: 50vw;
    height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    padding-left: 100px;
    
}
h1 {
   
    padding-top: 200px;
    color: tan;
    font-size: 40px;
}
.para{
    
    padding-top: 60px;
    color: tan;
}
.copy{
    padding-bottom: 0;
    color: white;
    margin-top: 35%;
}
.section2{
    width: 50vw;
    height: 100vh;
    background-size: cover;
    padding-left: 250px;
    padding-top: 50px;
}
.heading1{
    margin-top: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heading2{
    margin-top: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.para1{
    margin-top: 2%;
}
input[type="text"],input[type="password"]{
    border: none;
    margin-top: 1%;
    width: 250px;
    height: 30px; 
}

input::placeholder{
    color: gray;
}
input[type="text"],
input[type="password"]{
    border-bottom: 2px solid;
    border-color: gray;
}
input[type="text"]:focus,
input[type="password"]:focus{
    color: lightslategray;
    outline: none;
    border-bottom: 2px solid ;
    border-color: black;
    
}

.check{
    margin-top: 5%;
}
button{
    margin-top: 5%; 
    width: 250px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.click{
    margin-top: 4%;
    color: black;
    cursor: pointer;
}