body{
    background-image: url(thomas-bonometti-dtfyRuKG7UY-unsplash.jpg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 300px 100px;
    background-attachment: fixed;   
}