*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0d2ac;
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 5%    ;
}
header nav a{
    text-decoration: none;
     margin-left: 30px;
     color: black; 
}
header h1{
    color: #e08c4e;
    margin-left: 100px;
}
header nav{
    position: absolute;
    right: 190px;
    padding-top: 10px;
}
.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 5% ;
}
.section1 .side1{
    max-width: 500px;
}
.section1 .side1 h1{
    font-size: 40px;
}
.section1 .side1 p{
    color: black;
}
.section1 .side1 .para1{
    margin-top: 10px;
}
.section1 .side1 .btn1{
    height: 35px;
    width: 130px;
    background-color: #e08c4e;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
    
}

.section1 .side1 .btn2{
    height: 35px;
    width: 130px;
    background-color: gray;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
.side2 img{
    width: 100%;
    max-width: 350px;
}
.section2{
    padding: 50px 5%;
}
.section2 .heading1{
    margin-bottom: 20px;
}
.containerDiv{
    overflow: hidden;
    width: 230px;
    background-color:whitesmoke;
    margin-left: 100px;
    border-radius: 10px;
}
.main img{
    width: 100px;
    display: block;
    margin: 10px auto;
    
}
.main p{
    padding: 10px;
}
.headingSection{
    /* background-color: whitesmoke; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.iconsSection{
    /* background-color: whitesmoke; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.headingSection h2{
    color: #e08c4e;
}
.iconsSection i{
    color: #e08c4e;   
}
.main .background{
    background-color: tan;
}
.section2Main{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
    
}

.section3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 5%;
}
.section3 .side2{
    max-width: 500px;
    
    font-family:Arial, Helvetica, sans-serif;
}
.section3 .side2 h1{
    font-size: 40px;
}
.section3 .side2 p{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}
.section3 .side2 .para2{
    margin-top: 10px;
}
.side3 img{
    max-width: 250px; 
    width: 100%;
}
.iconsList{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    
}
@media (max-width:480px){
    header nav{
        display: none;
    }
    .section1 .side2 img{
        display: none;
    }
    .section1 .section3{
        /* flex-direction: column; */
        text-align: center;
        gap: 30px;
    }
    .btn2{
        margin-left: 0;
        margin-top: 7px;
    }
    .section2Main{
        justify-content: center;
    }
    .iconsList{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin-left: 20px;
    }
}

@media(min-width:481px) and (max-width:768px){
    .section1, .section3{
        gap: 40px;
    }
    .section2Main{
        justify-content: center;
    }
}

@media(min-width:769px) and (max-width:1024px){ 
    .section1 .side1 h1,
    .section3 .side2 h1{
        font-size: 36px;
    }

}
