main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 90px;
}

.section1{
    border: 2px solid black;
    height: 130px;
    width: 200px;
    padding: 10px;
    /* border-radius: 10px 20px 10px 20px; */
    border-radius: 30px;
}
.section2{
    border: 2px solid greenyellow;
    height: 130px;
    width: 200px;
    padding: 10px;
    /* border-radius: 10px 20px 10px 20px; */
    border-radius: 30px;
}
.section3{
    border: 2px solid grey;
    height: 130px;
    width: 200px;
    padding: 10px;
    /* border-radius: 10px 20px 10px 20px; */
    border-radius: 30px;
}
.div1{
    border: 2px solid grey;
    height: 130px;
    width: 200px;
    margin-top: 60px;
    border-radius: 20px;
    padding: 10px;
}
.div2{
    border: 2px solid grey;
    height: 160px;
    width: 200px;
    margin-top: 60px;
    border-radius: 50%;
    padding: 29px;
    box-sizing: border-box;
}
.div3{
    border: 2px solid grey;
    height: 130px;
    width: 200px;
    margin-top: 80px;
    border-radius: 20px;
    padding: 10px;
}